@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.mobileNav{
    height: 50px;
    width: 100%;
    z-index: 1;
}

#socials{
    font-size: 24px;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

#socials:hover{
    color: #fa8072;
}

.show-dropdown{
    display:block;
    background: #222222;
    color: white;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid white 1px;
}

.menu-wrapper{
    box-sizing: border-box;
    width: 50px;
}

#dropdown li{
    list-style: none;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

#dropdown li:hover{
    color: #fa8072;
}

#dropdown a{
    color: white;
    text-decoration: none;
}

.hide-dropdown{
    display: none;
}

.hamburger-menu{
    background-color: #222222;
    border-bottom: 1px solid white;
}

.hamburger-menu ul{
    padding: 10px;
    list-style: none;
    cursor: pointer;
}

.hamburger-menu li{
    
    background-color: white;
    height: 2px;
    margin: 5px;
    width: 20px;
}

.banner{
    background-image: url('src/img/lights.jpg');
    background-size: cover;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    letter-spacing: 0.5px;
}

.arrow{
    bottom: 0px;
    width: 100%;
    background-color: #222222;
    position: absolute;
    height: 50px;
}

.banner p{
    font-style: italic;
    font-weight: normal;
}

.banner h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.wrapper{
    width: 325px;
    margin: auto;
    padding: 50px 0 50px 0;
}

section{
    margin: 30px 0px 0px 0px;
}

section h1{
    font-size: 40px;
}

#about{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about img{
    width: 200px;
    background-color:rgba(34, 34, 34, 0.5);
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

#about p{
    padding: 0 0 10px 0;
    text-align: center;
}

.background-color{
    background-color: #d3d3d3;
    color: black;
}

#abilities{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#abilities h2{
    align-self: flex-start;
}

.side-by-side-list{
    width: 100%;
}

.line{
    background-color: gray;
    height: 1px;
    width: 100%;
    margin: 20px 0 20px 0;
}


#abilities ul{
    list-style:none;
    align-self: flex-start;
}

#abilities li{
    padding: 8px 0 0 0;
}

.location{
    margin: 10px 0 10px 0px;
    color: #00c4c4;
}

.description{
    display: none;
}

.stats ul{
    list-style: none;
}

.stats li{
    margin: 5px 0 5px 0;
}

.card{
    padding: 5px 0 5px 0;
}

.project-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card{
    padding: 10px 0 10px 0;
}

.project-img{
    width: 325px;
    height: 325px;
    cursor: pointer;
    transition: 0.5s;
}

.project-img:hover{
    opacity: 0.5;
}

#spotify{
    background-image: url("./src/img/spotifyplaylistgen.png");
}

.project-desc{
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

@media only screen and (min-width: 768px){
    .banner p{
        font-size: 25px;
    }
    
    .banner h1{
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .wrapper{
        width: 600px;
        margin: auto;
    }

    .description{
        padding: 5px 0 5px 0;
        display: block;
    }

    .line-text{
        display: flex;
        justify-content: space-between;
    }

    .side-by-side-list{
        display: flex;
        width: 100%;
    }
    
    .side-by-side-list-element{
        flex-basis: 50%;
    }

    .project-img{
        width: 275px;
        height: 275px;
    }
}

@media only screen and (min-width: 1100px){
    .wrapper{
        width: 1000px;
    }

    .project-img{
        width: 325px;
        height: 325px;
    }
}
